<a href="/quote">Quote Button</a>

<p>🧠 Què fa aquest projecte?</p>
<ul>
    <li>Consumeix una API externa (https://api.chucknorris.io) per obtenir una frase aleatòria de Chuck Norris.</li>
    <li>Mostra aquesta frase en una pàgina web feta amb Thymeleaf i Bootstrap.</li>
    Afegeix una imatge aleatòria cada vegada que refresques la pàgina.</li>
</ul>

<p>🧩 CAPES DEL PROJECTE</p>
<ul>
    <li>@Controller → Controlador web. Rep peticions i retorna pàgines HTML.</li>
    <li>@Service → Servei que s'encarrega de connectar-se amb l'API externa i agafar dades.</li>
    <li>Model (Quote) → Representa les dades que rebem.</li>
    <li>Vista (chuck.html) → L'HTML final que veu l'usuari, fet amb Thymeleaf + Bootstrap.</li>
</ul>

